/* reset */
* {
  list-style: none;
  font-family: 'Montserrat', sans-serif; }

/* header */
.nav-link {
  font-size: 0.9rem; }

/* footer */
footer i {
  color: #b5b4b4; }

footer small {
  color: #b5b4b4; }

/* main INDEX */
.secciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .secciones .seccionesMain {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.3fr;
    grid-template-areas: "img titulo" "img info" "img boton";
    grid-column-gap: 1rem; }
    .secciones .seccionesMain img {
      width: 100%;
      border-radius: 20px;
      grid-area: img; }
    .secciones .seccionesMain h3 {
      font-size: 1.2rem;
      grid-area: titulo;
      margin-top: 0.5rem; }
    .secciones .seccionesMain p {
      font-size: 0.7rem;
      grid-area: info; }
    .secciones .seccionesMain .botonSecciones {
      border-radius: 15px;
      background-color: #2d2d2d;
      border-color: #2d2d2d; }

@media screen and (min-width: 768px) {
  .secciones {
    display: grid;
    grid-template-columns: 1fr 1fr; } }

@media screen and (min-width: 992px) {
  .secciones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; } }
