/* reset */
*{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

//base
@import "base/variables";
@import "base/mixin";
@import "base/extend";
@import "base/maps";


/* header */
@import "components/header";

/* para todos los html */
h1{
    font-size: map-get($map: $headings, $key: h1);
}

/* main INDEX */
@import "components/index";

/* main NOSOTROS */
@import "components/nosotros";

/* main PRODUCTOS */
@import "components/productos";

/* main MARCAS */
@import "components/marcas";

/* main CONTACTO */
@import "components/contacto";

/* footer */
@import "components/footer";

